* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'courier-prime', monospace;
}

body {
    background-color: #121212;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #242424;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
}

.search {
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

.episodes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.episode {
    background-color: #2f3541;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.episode a {
    color: #d7dde8;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.episode a:hover {
    background-color: #a4be8c;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #242424;
    color: #d7dde8;
}